*{
    margin: 0;
    padding: 0;
}

   

.ere img{
    height: 300px;
    width: 400px;
}
.ere1 img{
    height: 300px;
    width: 400px;
}
.fbox{
    background-color:#D3EBCD;
}

.fbox1{
    background-color:#F6E3C5; 
}

